<section class="content-header">
  <h1>
    用户详情
    <small>用户列表</small>
  </h1>
<!--       <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol> -->
</section>
<!-- Main content -->
<section class="content" >
  <div class="row" style="margin-top:20px;">
    <div class="col-xs-12">
      <div class="qhp-col-xs-2">
          <select selector model="itemsPerPage_index" options="itemsPerPage_list" value-attr="id" label-attr="name" multi="false" change="get_itemsPerPage_num(newValue,oldValue)"></select>
      </div>
      <div class="qhp-col-xs-2">
          <select selector model="search.is_upload" options="is_upload_list" value-attr="id" label-attr="name" placeholder="请选择上传状态" require="true"></select>
      </div>
      <div class="qhp-col-xs-2">
            <input type="text" class="form-control qhp-search-input" placeholder="请输入用户昵称" ng-model="search.nickName">
      </div>

      <div class="qhp-col-xs-2">
        <button class="btn btn-primary" type="button" ng-click="query_click()"><i class="fa fa-search"></i>查询</button>
      </div>
    
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title">用户列表</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>ID</th>
              <th>昵称</th>
              <th>头像</th>
              <th>手机</th>
              <th>储值金额</th>
              <th>积分</th>
              <th>果树数量</th>
              <th>养护产品</th>
              <th>养护详情</th>
              <th>上传权限</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat = "row in list">
                <td>{{row.id}}</td>
                <td>{{row.nickName}}</td>
                <td><img class="qhp-td-img-70" ng-src="{{row.avatarUrl}}"></td>
                <td>{{row.phone}}</td>
                <td>{{row.price}}</td>
                <td>{{row.integral}}</td>
                <td>{{row.tree_num}}</td>
                <td>
                  <div class="col-xs-12" ng-repeat="r in row.irrigation_child">{{r.name}}：{{r.num}}</div>
                </td>
                <td><small class="label label-success" ng-click="irrigationModal(row)">养护详情</small></td>
                <td>{{is_upload_map[row.is_upload]}}</td>
              <td>
                <small class="label label-info" ng-click="isUploadModal(row)"><i class="fa fa-edit"></i>设置</small>
              </td>
            </tr>
            </tbody>      
          </table>
          <div class="dataTables_paginate paging_simple_numbers pull-right">
              <ul class="pagination"><uib-pagination class="paginate_button" first-text="首页" last-text="末页" next-text="下页" previous-text="上页" boundary-links="true" boundary-link-numbers="true" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="5" ng-change="pageChanged()">
              </uib-pagination>
              </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
    
</section>


<script type="text/ng-template" id="irrigationModal.html">
  <form name="operationForm" ng-submit="submitForm(operationForm.$valid)" class="form-horizontal" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">养护详情</h3>
    </div>

    <section class="content">
      <div class="col-md-12" style="text-align: center;" ng-if ="int_loading">
        加载中.....
      </div>
      <div class="row" ng-if ="!int_loading">
        <div class="col-md-2">
          <!-- /.card -->
          <div class="card">

            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li ng-repeat="(key,row) in list" ng-click="get_tree_content(row)" class="{{key==active_flag?'nav-item active':'nav-item'}}">
                  <a class="nav-link">
                    {{row.code}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-10">
          <div class="card">
              <div class="card-header d-flex p-0">
                <ul class="nav nav-pills ml-auto p-2">
                  <li ng-repeat ="(key,row) in irrigation_list" class="{{key==0?'nav-item active':'nav-item'}}"><a class="nav-link" data-target="#tab_{{key}}" data-toggle="tab">{{row.name}}</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div ng-repeat="(key,row) in irrigation_list" class="{{key==0?'tab-pane active':'tab-pane'}}" id="tab_{{key}}">
                    <table class="table table-bordered table-hover" style="margin-top: 10px;">
                      <thead>
                      <tr>
                        <th>果树种类</th>
                        <th>基地名称</th>
                        <th>养护时间</th>
                        <th>养护人</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat = "r in row.child">
                            <td>{{r.catagory_name}}</td>
                            <td>{{r.base_name}}</td>
                            <td>{{r.creattime}}</td>
                            <td>{{r.irrigation_name}}</td>
                        </tr>
                      </tbody>      
                    </table>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
        </div>
      </div>
    </section>

    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
  </form>
</script>


<script type="text/ng-template" id="isUploadModal.html">
  <form name="operationForm" ng-submit="submitForm(operationForm.$valid)" class="form-horizontal" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">权限设置</h3>
    </div>
    <div class="modal-body">
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-2 control-label">权限</label>

          <div class="col-sm-10" style="padding:5px 0 0 0">　
            <input type="radio" value="1" ng-model="uploadinfo.is_upload"> 允许上传图片视频　　
            <input type="radio" value="2" ng-model="uploadinfo.is_upload"> 不允许
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="operationForm.$invalid || save_spinner_display" ng-click="confirm()">确定</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
  </form>
</script>